<form #userForm="ngForm" (ngSubmit)="register()" class="md:flex justify-center px-20 bg-white gap-10">
  <div
    class="h-auto w-3/5"
    style="
      background-image: url('register.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-color: white;
      background-position: bottom;
    "
  ></div>
  <div class="bg-white my-10 rounded w-1/5 flex flex-col gap-3 shadow-sm">
    <div class="text-center">
      <div class="flex justify-center">
        <img
          [src]="profilePicture"
          class="rounded-full object-cover bg-blue-800 h-24 w-24"
          alt="profilePicture"
        />
      </div>
      <div class="text-2xl my-2 font-medium">Register</div>
    </div>
    <div class="w-full p-4">
      <mat-form-field class="w-full" apperance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          required
          email
          name="email"
          [(ngModel)]="email"
          #emailModel="ngModel"
          placeholder="Email ..."
        />
        @if(emailModel.errors?.['required']){
          <mat-error>
            Email is required
          </mat-error>
        }
        @if(emailModel.errors?.['email']){
          <mat-error>
            Invalid email format
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full" apperance="fill">
        <mat-label>UserName</mat-label>
        <input
          matInput
          required
          name="userName"
          #usernameModel="ngModel"
          [(ngModel)]="userName"
          placeholder="UserName ..."
        />
        @if(usernameModel.errors?.['required']){
          <mat-error>
            UserName is required
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full" apperance="fill">
        <mat-label>FullName</mat-label>
        <input
          matInput
          required
          name="fullname"
          #fullnameModel="ngModel"
          [(ngModel)]="fullName"
          placeholder="FullName ..."
        />
        @if(fullnameModel.errors?.['required']){
          <mat-error>
            FullName is required
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full" apperance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          name="password"
          required
          #passwordModel="ngModel"
          [type]="hidePassword ? 'password' : 'text'"
          (click)="togglePassword($event)"
          [(ngModel)]="password"
          placeholder="Password"
        />
        @if(passwordModel.errors?.['required']){
          <mat-error>
            Password is required
          </mat-error>
        }
      </mat-form-field>
      <input
        hidden
        (change)="onFileSelected($event)"
        type="file"
        #pic
        placeholder="Profile Image"
      />
      <button
        mat-raised-button
        (click)="pic.click()"
        type="button"
        class="w-full flex items-center gap-2 justify-center mb-5 bg-red-900 text-white rounded-md p-2"
      >
        <mat-icon>add_a_photo</mat-icon>
        <span>Upload Image </span>
      </button>
      <button
        type="submit"
        [disabled]="!userForm.valid"
        class="w-full text-center mb-5 bg-blue-900 text-white rounded-md p-2 disabled:opacity-30"
      >
        Register
      </button>
      <p class="font-bold text-xs text-center">
        Already have an account? <a class="text-blue-500" [routerLink]="'/login'" >Login</a>
      </p>
    </div>
  </div>
</form>
